MONGODB_URI=mongodb+srv://dervaishabbas_db_user:w5bdJM9PsL33rz0A@cluster0.erw6pvk.mongodb.net/neurocompanion?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=neurocompanion_jwt_secret_key_2024_secure_random_string
PORT=5000
